.stylelintrc.json

# Системные файлы
.DS_Store
._*
.Spotlight-V100
.Trashes

# Кэш и временные файлы
Thumbs.db
.DS_Store?
ehthumbs_vista.db

# Локальные настройки IDE
.idea/
.vscode/
node_modules/
*.swp
*.swo

# Логи
*.log

dist/
build/

# Устаревшие страницы
*.old.html

# Резервные копии
*~
*.bak
*.backup!

!/css/устаревшие/
